{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Filmoteca - Filmes
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<header class="h-screen bg-indigo-900 bg-opacity-100 bg-blend-overlay flex justify-center items-center" style="background-image: url('{% static 'image/banner_postagem.jpg' %}');">
  
  <div class="text-center flex items-center flex-col">
    
    <h1 class="underline font-bold text-4xl"> Filmoteca </h1>
    <h1 class="font-bold mt-1"> Seu site de filmes online </h1>
    
</header>
<div class="flex items-center justify-center py-4">
  <script type='text/javascript' src='//pl22656765.profitablegatecpm.com/9e/f8/61/9ef8612771c9963a40a84653a3c3b3d3.js'></script>
  <script type="text/javascript">
    atOptions = {
      'key' : 'bbdb5817e66394e94efafa825d4334f1',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/bbdb5817e66394e94efafa825d4334f1/invoke.js"></scr' + 'ipt>');
    </script>
    <div class="px-2">
    <script type='text/javascript' src='//pl22656765.profitablegatecpm.com/9e/f8/61/9ef8612771c9963a40a84653a3c3b3d3.js'></script>
    <script type="text/javascript">
      atOptions = {
        'key' : 'bbdb5817e66394e94efafa825d4334f1',
        'format' : 'iframe',
        'height' : 60,
        'width' : 468,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/bbdb5817e66394e94efafa825d4334f1/invoke.js"></scr' + 'ipt>');
      </script>
    </div>
</div>
<div class="wrapper bg-neutral-900">
    <div class="wrapper py-5">
      <p class="py-12 text-center font-mono text-2xl">Adicionados Recentemente</p>
      <section class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for filme in adicionados_recentemente %}
        <div class="flex flex-col items-center">
          <a href="{% url 'filme:detalhefilme' filme.pk %}">
            <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 m-4' alt="Describe Image">
              <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
          </a>
        </div>
        {% endfor %}
      </section>
    </div>

    <div class="bg-slate-200 mt-4 text-center mx-4"> <p> . </p> </div>

    <div class="wrapper">
        <p class="py-8 text-center font-mono text-2xl">Mais vistos</p>
      <section class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for filme in vistos %}
        <div class="flex flex-col items-center">
            <a href="{% url 'filme:detalhefilme' filme.pk %}">
              <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 m-4' alt="Describe Image">
              <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
            </a>
          </div>
        {% endfor %}  
      </section>
    </div>
    
    <div class="bg-slate-200 mt-4 text-center mx-4"> <p> . </p> </div>
    <div class="wrapper">
        <p class="py-8 text-center font-mono text-2xl">Ação</p>
      <section class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for filme in lista_acao %}
        <div class="flex flex-col items-center">
            <a href="{% url 'filme:detalhefilme' filme.pk %}">
              <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 m-4' alt="Describe Image">
              <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
            </a>
          </div>
        {% endfor %}  
      </section>
    </div>
    <div class="bg-slate-200 mt-4 text-center mx-4"> <p> . </p> </div>
    <div class="wrapper">
      <p class="py-8 text-center font-mono text-2xl">Animação</p>
      <section class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for filme in lista_animacao %}
        <div class="flex flex-col items-center">
            <a href="{% url 'filme:detalhefilme' filme.pk %}">
                <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 m-4' alt="Describe Image">
                <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
              </a>
        </div>
        {% endfor %}
      </section>
    </div>
    <div class="bg-slate-200 mt-4 text-center mx-4"> <p> . </p> </div>
    <div class="wrapper">
      <p class="py-8 text-center font-mono text-2xl">Ficção</p>
      <section class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for filme in lista_ficcao %}
        <div class="flex flex-col items-center">
            <a href="{% url 'filme:detalhefilme' filme.pk %}">
                <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 m-4' alt="Describe Image">
                <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
              </a>
        </div>
        {% endfor %}
      </section>
    </div>
    <div class="bg-slate-200 mt-4 text-center mx-4"> <p> . </p> </div>
    <div class="wrapper">
      <p class="py-8 text-center font-mono text-2xl">Suspense</p>
      <section class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for filme in lista_suspense %}
        <div class="flex flex-col items-center">
          <a href="{% url 'filme:detalhefilme' filme.pk %}">
            <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 m-4' alt="Describe Image">
            <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
          </a>
        </div>
        {% endfor %}
      </section>
    </div>
    <div class="bg-slate-200 mt-4 text-center mx-4"> <p> . </p> </div>
</div>

{% endblock %}