{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Filmoteca - Pesquisa
{% endblock %}

{% block content %}

<div class="py-12">
  <h1 class="text-2xl text-center">Resultado</h1>
</div>
<script async="async" data-cfasync="false" src="//pl22660095.profitablegatecpm.com/87e771ba23818a9f8d92355817f8f77b/invoke.js"></script>
<div id="container-87e771ba23818a9f8d92355817f8f77b"></div>
<div class="wrapper py-5 bg-cyan-900 m-3 flex-col">

  <!-- Adicione um ID à seção de filmes -->
  <section id="lista-filmes" class=" m-2 flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      {% for filme in object_list %}
      <div class="filme flex flex-col items-center">
          <a href="{% url 'filme:detalhefilme' filme.pk %}">
              <img src="{{ filme.thumb.url }}" class='img-fluid w-30 h-60 py-1 m-4' alt="Describe Image">
              <h1 class="text-center text-xs font-light mt-2"> {{ filme.titulo }} </h1>
          </a>
      </div>
      {% endfor %}
      
  </section>
  
</div>


{% endblock %}