{% load static %}

<nav class="w-full flex justify-between items-center px-1 py-2 fixed z-50 bg-black filme">
    <div class="w-1/12 px-3">
        <a href="/">
            <h3 class="underline font-bold text-center">
                Filmoteca
            </h3>
        </a>
    </div>
    <div class="w-6/12 flex flex-nowrap justify-end">
        <div class="mr-2">
            <form method="get" action="{% url 'filme:pesquisa' %}">
                <input type="text" class="py-1 px-2 rounded-md text-black" name='query' value="{{ request.GET.query }}" placeholder="Pesquisar...">
                <input type="submit" value="">
            </form>
        </div>
        


    </div>
</nav>

<div class="bg-slate-200 py-2.5 text-center"> <p> . </p> </div>
<div class="flex space-x-7 py-2 bg-cyan-900 justify-center items-center">
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="/">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Inicio</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriaacao' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Ação</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriaanimacao' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Animação</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriacomedia' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Comedia</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriaficcao' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Ficção</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriasuspense' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Suspense</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriaterror' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Terror</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriadrama' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Drama</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriaromance' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Romance</h6>
    </a>
  </div>
  <div class="ml-2 bg-slate-200 mt-1">
    <a href="{% url 'filme:homecategoriadocumentario' %}">
      <h6 class="font-bold bg-slate-800 text-white py-1 px-3 rounded-md">Documentario</h6>
    </a>
  </div>
</div>